// Products

.brand, .stand-out, .third-row{
  .flex(row,space-around);
  flex-wrap: wrap-reverse;
  
}
.stand-out{
  flex-direction: row-reverse;
  
}
.item, .art-img {
  width: 50%;
  @media screen and (max-width:550px){
    width: 100%;
  }

}
.art-img{
  background-size:cover  ;
  background-repeat:no-repeat;
  background-position: center center;
  height: 50vh;
}
.egg {
  background-image: url('/images/desktop/image-transform.jpg');
  
}
.cup {
  background-image: url('/images/desktop/image-stand-out.jpg');
}
.contain {
  max-width: 80%;
  height: 80%;
  .flex(column,space-around,flex-start);
  padding-inline: 0.1rem;
  padding-top: 0rem;

}
.item{
  height: 50vh;
  .flex();
}
.title, span{
  font-family: @font-secondary;
}
.contain p {
  font-family: @font-primary;
 
 }
.Text1 span{
  border-bottom: 3px solid @yellow;
} 

.Text2 span{
  border-bottom: 3px solid @soft-red;
} 


.graphic-design {
  background-image: url(/images/desktop/image-graphic-design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @media screen and (max-width:550px){
    background-image: url(/images/mobile/image-graphic-design.jpg);
  }
}
.photography{
  background-image: url(/images/desktop/image-photography.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @media screen and (max-width:550px){
    background-image: url(/images/mobile/image-photography.jpg);
  }
}
.third-row{
   
  min-height: fit-content;
}
.text-last {
  min-height: 100%;
  .flex(column,flex-end,center);

  
}
 .text-last p, .title{
  width: 100%;
  text-align: center;
  margin-block-end: 2rem;
}
.graphic-design, .photography{
  @media screen and (max-width:768px){
    height: 75vh;
  }
  @media screen and (max-width:550px){
    height:50vh;
  }

}