// Products
.banner{
  

  .h2{
    .flex(column,center,center);
    color :@banner-font-color;
    padding:15 px;
    font-size: 20px;
  }
  .header{
    width :100%;
    padding: 15 px ;
    margin: 2px ;
    .flex(row,center,center)
  }
}


 .brand{
   display :flex;
   //height: auto;
    .Text1{
     width:60%;
     text-align: left;
     margin-left: 5%;
     padding-top: 10%;
     padding-right: 42px;
          .title1{
           
              font-size: 17px;
             
             
                    }
        .paragraf1{
          font-size: 14px;
                   
        }
        .learn1{
          padding-top: 5px;
          font-size: 8px;
         
        }
   }
    .egg {
    width: 100%;
          }
 }
 .stand-out{
  display :flex;
  height: auto;
  .standout {
   width: 100%;
         }
   .Text2{
     width: 60%;
      flex-direction: column;
      text-align: left;
      padding-left: 10%;
      padding-top: 10%;
      padding-right: 42px;
     
         .title2{
          font-size: 17px;
                   }
       .paragraf2{
         font-size: 14px;
                  
       }
       .learn2{
        padding-top: 5px;
          font-size: 8px;
        
       }
  
      }
    }
