// Products
.banner{
  

  .h2{
    .flex(column,center,center);
    color :@font-banner;
    padding:15 px;
  }
  .header{
    width :80%;
    padding: 15 px ;
    margin: 2px ;
    .flex(row,center,center)
  }
}

.transform{
 .padre{
   display :flex;
   //justify-content: space-between;
   height: auto;
   background-color: red;
   .Texto1{
     max-width:50%;
     background-color: green;
   }
 }
  
.h2{
  background-color: green;
  width: 30%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
 .p{
  background-color:red;;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
font-size: 5px;
  
 }
 .h3
 {
  background-color:blue;

width: 30%;
margin: 10px;
text-align: center;
line-height: 75px;
font-size: 30px;
 }


.egg {
  // width: 30%;
  // margin: 20px 2.5%;
  // border-radius: 20px;
  // height: 100%;
  
  background-color: blue;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;

}

display: flex;
flex-direction: row wrap;


}
