.hero{
  background-image: url(/images/desktop/image-header.jpg);
  padding-block-start: 2.5rem;
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  border:1px solid red;
  height: 100vh;
}
